body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none;
}

.name {
  /* font-family: "Major Mono Display", monospace; */
  font-family: "Cookie", cursive;
}

.hero_wpraper {
  background-color: #9A0002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

}

.hero {
  background-color: #9A0002;
  height: 100vh;
  width: 100vw;
  /* z-index: 1; */
  position: sticky;
  z-index: 1;
  top: 0;
}

.hero-left {
  /* background-color: #009a03; */
  color: #EFE6DE;
  width: 50vw;
  height: 400px;

  /* padding-left: 100px; */
  margin-left: 19px;
}

.hero-left h1 {
  font-family: "Boldonse", system-ui;
  font-size: 5rem;
}

.hero-left p {
  margin-left: 40%;
  font-family: "Satisfy", cursive;
}

/* .buttons button{
    background-color: #EFE6DE;
    border: none;
    height: 40px;
    padding: 0 20px;
    
} */

a {
  text-decoration: none;
}

button {
  --primary-color: #EFE6DE;
  --secondary-color: black;
  --hover-color: #efe6de71;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: lighter;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.buttons {
  margin-top: 30px;
}

.right-hero {
  background: url("assets/me1.jpg");
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  /* z-index: 0;  */
  box-shadow: 3px 3px 15px;

  cursor: pointer;

  &:hover {
    transition: .14s all ease-in-out;
    scale: 1.02;
    box-shadow: 9px 15px 15px;

  }
}

.line {
  transform: rotate(90deg);
  /* width:20%; */
  width: 100px;
  /* height: 100%; */
  color: #EFE6DE;
}

.social a {
  transition: .14s;
  text-decoration: none;
}

.social a:hover {
  transform: translatey(-5px);
  transition: ease-in-out .14s all;
  scale: 1.3;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv_download{
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: bounce2 2s ease infinite;
  position: relative;
  overflow: visible;
  flex-wrap: wrap;
  margin-top:14px ;
  background-color:#9A0002;
  margin-top: 100px;
  &::before{
    content: "DOWNLOAD CV";
    background-color: #9A0002;
   position: absolute;
   margin-left: 140px;
   width: 100px;
   text-align: center;
   font-size: x-small;
   color: white;
   opacity: 0;
  transition: all ease .14s;


  
  }
  
}
.cv_download:hover::before{
  transition: all ease .14s;
    /* background-color: #9A0002; */
    opacity: 1;
  }
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}

}
#about {
  display: flex;
}

.left_about {
  /* background: url(assets/pc.jpg); */
  background-color: white;
  width: 50VW;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  /* top: 10px; */
  /* bottom: 10px; */
  /* animation: scrol-2 linear; */
            animation-timeline: view();
            animation-range: entry 0;


}

@keyframes scrol {
  from {
    opacity: 0;
    scale: .5;
    /* width: 100vw; */
    /* background-color: #9A0002; */


  }

  to {
    opacity: 1;
    scale: 1;
  }

}
/* 
.overlay_left_about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* background-color: #000000a9; */
  /* z-index: -1; */
  
/* } */ 

.left_about p {
  color: #9A0002;
  font-family: serif;
  animation: scrol linear;
  animation-timeline: view();
  animation-range: entry 0%;

  /* text-align: center;   */
}

.left_about h1 {
  margin-top: 21px;
  color: #9A0002;
  text-decoration: underline;
  margin-bottom: 30px;
  font-family: "Bebas Neue", sans-serif;
  animation: scrol linear;
  animation-timeline: view();
  animation-range: entry 0;
  /* fill: #9A0002; */
}

.right_about {
  background-color: #fdf9f500;
  width: 50vw;
  height: 100vh;
}

/* responsive */
/*mediaquery */


@media (min-width: 200px) and (max-width: 300px) {
  .hero h1 {
    font-size: 22.5px;
    /* color: red; */
  }

  .hero p {
    font-size: xx-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    width: 120px;
    font-size: x-small;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .right-hero {
    width: 240px;
    /* z-index: 3; */
  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about h1{
    padding-top: 130px;
  }

}

@media (min-width: 350px) and (max-width: 400px) {
  .hero h1 {
    font-size: 26px;
    /* color: red; */
  }

  .hero p {
    font-size: xx-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    width: 120px;
    font-size: x-small;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .right-hero {
    width: 300px;
  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about{
    padding: 10px 10px;
  }

}

@media (min-width: 300px) and (max-width: 350px) {
  .hero h1 {
    font-size: 22px;
    /* color: red; */
  }

  .hero p {
    font-size: xx-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    width: 120px;
    font-size: x-small;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .right-hero {
    width: 240px;
  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about h1{
    padding-top: 40px;
  }
  .left_about p{
    padding: 20px 20px ;
  }

}

@media (min-width: 400px) and (max-width: 500px) {
  .hero h1 {
    font-size: 30px;
    /* color: red; */
  }

  .hero p {
    font-size: x-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    width: 150px;
    font-size: smaller;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
 .left_about p{
  padding: 20px 20px;
 }
 .left_about h1{
  /* margin-top: 500px; */
 }
}


@media (min-width: 500px) and (max-width: 600px) {
  .hero h1 {
    font-size: 37px;
    /* color: red; */
  }

  .hero p {
    font-size: x-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    width: 150px;
    font-size: smaller;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about p{
    padding: 20px 20px;
  }
  .left_about h1{
    margin-top: 100px;
  }

}

@media (min-width: 600px) and (max-width: 650px) {
  .hero h1 {
    font-size: 38px;
    /* color: red; */
  }

  .hero p {
    font-size: x-small;
  }

  .hero {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .right-hero {
    margin-top: -70px;
  }

  button {
    /* width: 130px; */
    font-size: small;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }

  .social {
    flex-direction: row-reverse;
    padding-top: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .line {
    /* transform: rotate(360deg); */
    display: none;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about p{
    padding: 20px 20px;
  }

}

@media (min-width: 650px) and (max-width: 700px) {
  .hero h1 {
    font-size: 35px;
    /* color: red; */
  }

  .hero p {
    font-size: x-small;
  }

  button {
    /* width: 130px; */
    font-size: small;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }
  .hero{position: static;}

  .buttons {
    flex-direction: column;
  }

  .social {
    padding-right: 10px;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about p{
    padding: 20px 20px;
  }
}

@media (min-width: 700px) and (max-width: 750px) {
  .hero h1 {
    font-size: 40px;
    /* color: red; */
  }

  .hero p {
    font-size: small;
  }

  button {
    /* width: 130px; */
    font-size: medium;
    /* align-items: center; */
    /* flex-direction: column; */
    /* display: flex; */

  }
  .hero{position: static;}

  .buttons {
    flex-direction: column;
  }

  .social {
    padding-right: 10px;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about p{
    padding: 20px 20px;
  }

}

@media (min-width: 750px) and (max-width: 800px) {
  .hero h1 {
    font-size: 45px;
    /* color: red; */
  }
  .hero{position: static;}
  button {
    width: 140px;
    font-size: small;
    align-items: center;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
 .left_about p{
  padding: 20px 20px;
 }
}

@media (min-width: 800px) and (max-width: 825px) {
  .hero h1 {
    font-size: 50px;
    /* color: red; */
  }
  .hero{position: static;}
  button {
    width: 150px;
    font-size: small;
    align-items: center;
  }
   .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
 .left_about p{
  padding: 20px 20px;
 }
}


@media (min-width: 825px) and (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
    /* color: red; */
  }
  .hero{position: static;}
  .left_about{
    width: 100vw;
  }
  .right_about{
    display: none;
  }
  .left_about p{
    padding: 20px 20px;
  }

}

@media (min-width: 900px) and (max-width: 1084px) {
  .hero h1 {
    font-size: 60px;
    /* color: red; */
  }
  .left_about p{
    padding-left: 20px;
    padding-right: 20px;

  }
  .left_about p br{
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1316px) {
 .left_about p{
  padding-left: 20px;
 /* padding-right: 60px; */

 }
 .left_about{
  /* margin-right: -600px; */
  width: 52vw;
 }
 
 .left_about p br{
  display: none;
 }
}