body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    /* background-color:#000000; */
   
    /* C5D89D */

}
body::-webkit-scrollbar{
    display: none;
  
}
body::-webkit-scrollbar:horizontal {
    height: 10px;
}
.nav_logo{
      font-family: "Satisfy", cursive;
      color: white;
}
.nav_bar{
    background-color: #404040;
}
.home{
    height: 100vh;
    width: 100vw;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    background: url("assets/me1.jpg");
    width: 250px;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 10px;
}
.image:hover .icons{
    scale: 1.1;
    animation-play-state: paused;
}

.icons {
    transform: scale(0.8);
    transition: all 0.3s ease;
    pointer-events: none;
     animation: float 3s ease-in-out infinite;

}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}
.icons:nth-child(1){
    bottom: 100px;
    right: -40px;
}
.icons:nth-child(2){
    top: 100px;
    left: -40px;
}

.icons:nth-child(3){
    bottom: 10px;
    left: -40px;
}
.icons:nth-child(4){
    top: 10px;
    right: -40px;
}
.left_home {
     font-family: "Bebas Neue", sans-serif;
   
 }
 .left_home h1{
      line-height: 90px;
      font-size: 90px;
 }

 .typewriter{
    font-size: 30px;
    color: #ffffff;
 }
 .self_intro{
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #ffffff80;
 }
.line_brake1{
    display: none;
}

   /* Mobile portrait styles */

   @media (min-width:300px) and (max-width:319px) {
      .home{
            flex-direction: column;
        }
        .left_home{
        margin-top: 100px;
        align-items: center;
        justify-content: center;
     }
     .left_home h1{
         font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 12px;    
     }
     .line_brake1{
        display: inline;
     }
      .typewriter{
        font-size: 17px;
     }
     .image{
        width: 190px;
    height: 250px;
    margin-right: 15px;
    padding-bottom: 10px;
     }
        .icons{
        font-size: 10px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -10px;
}
    
   }
   @media (min-width:320px) and (max-width:493px) {
        .home{
            flex-direction: column;
        }
        .left_home{
        margin-top: 100px;
        align-items: center;
        justify-content: center;
     }
     .left_home h1{
         font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 12px;    
     }
     .line_brake1{
        display: inline;
     }
      .typewriter{
        font-size: 17px;
     }
     .image{
        width: 200px;
    height: 260px;
    margin-right: 15px;
    padding-bottom: 10px;
     }
        .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
   }
 @media (min-width: 494px) and (max-width: 596px) {
     .left_home h1{
        font-size: 35px;
        line-height: 25px;
     }
     .self_intro{
        font-size: 9px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 13px;
     }
     .image{
        width: 200px;
    height: 280px;
    margin-right: 15px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}

}
 @media (min-width: 597px) and (max-width: 675px) {
         .left_home h1{
        font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 11px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 14px;
     }
     .image{
        width: 220px;
    height: 300px;
    margin-right: 15px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
}
     /* Tablet portrait / large phone styles */
@media (min-width: 676px) and (max-width: 768px) {
        .left_home h1{
        font-size: 60px;
        line-height: 50px;
     }
     .self_intro{
        font-size: 13px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 18px;
     }
     .image{
        width: 240px;
    height: 320px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
}
@media (min-width:769px) and (max-width:835px) {
    .left_home h1{
        font-size: 70px;
        line-height: 60px;
     }
     .self_intro{
        font-size: 12px;
     }
     .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 20px;
     }
    
}
  /* Tablet landscape / small laptop styles */
@media (min-width: 835px) and (max-width: 1024px) {
     .left_home h1{
        font-size: 80px;
        line-height: 70px;
     }
     .self_intro{
        font-size: 11px;
     }
     .typewriter{
        font-size: 25px;
     }

}
  /* Desktop styles */
@media (min-width: 1025px) and (max-width: 1440px) {
 .self_intro{
    font-size: 13px;
}
}