body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    background-color:#000000;
   
    /* C5D89D */

}
body::-webkit-scrollbar{
    display: none;
  
}
body::-webkit-scrollbar:horizontal {
    height: 10px;
}
.nav_logo{
      font-family: "Satisfy", cursive;
      color: white;
}
.nav_bar{
    background-color: #404040;
}
.home{
    height: 100vh;
    width: 100vw;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image{
    background: url("assets/me1.jpg");
    width: 250px;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 10px;
}
.image:hover .icons{
    scale: 1.1;
    animation-play-state: paused;
}

.icons {
    transform: scale(0.8);
    transition: all 0.3s ease;
    pointer-events: none;
     animation: float 3s ease-in-out infinite;

}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}
.icons:nth-child(1){
    bottom: 100px;
    right: -40px;
}
.icons:nth-child(2){
    top: 100px;
    left: -40px;
}

.icons:nth-child(3){
    bottom: 10px;
    left: -40px;
}
.icons:nth-child(4){
    top: 10px;
    right: -40px;
}
.left_home {
     font-family: "Bebas Neue", sans-serif;
   
 }
 .left_home h1{
      line-height: 90px;
      font-size: 90px;
 }

 .typewriter{
    font-size: 30px;
    color: #ffffff;
 }
 .self_intro{
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #ffffff80;
 }
.line_brake1{
    display: none;
}

/* about section */
.about{
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 80px;
   padding-top: 50px;
}
.image_about{
     background: url("assets/me1.jpg");
    width: 250px;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 10px;
}
.graduation_icon{
   display: flex;
   padding-top: 10px;
}
.about_note{
   width: 50%;
}
.about_note h1{
   color: #0d6dfc;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    text-decoration: underline;
}
.about_me_paragraph{
   width: 100%;
}
.about_me_paragraph p{
   color: white;
}
.cv{
   background-color: #000000;
   border: none;
   width: 150px;
   height: 35px;
   color: #0d6dfc;
  transition: all .14s ease-in-out;
  &:hover{
   background-color:white;
    transition: all .14s ease-in-out;
  }
   
}

.scroll-animate {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}


.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);
}

/* Skills Section */

.skills {
  padding: 80px 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

.skill-card {
  background-color: #111;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.headings{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

.skill-card:hover {
  transform: translateY(-5px);
}
.skill-card:hover i{
   color: #2e7cf1;
}

.skill-card h3 {
  color: #0d6dfc;
   font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  margin-bottom: 12px;
  font-size: 15px;
}

.skill-item i {
  color: #013d97;
  font-size: 18px;
}

/* project section */
.project{
   padding-top: 30px;
   padding-bottom: 50px;
}
.project_grid{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 50px;
    justify-content: center;
}
.project_img img{
   width: 20rem;
   /* height: 150px; */
   object-fit: cover;
   
}
.project_card{
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   background-color: #111;
   border:1px solid #333 ;
   border-radius: 10px;
   padding: 30px 0px;
   gap: 5px;
   cursor: pointer;
   
}
.project_card h3{
   color: #013d97;
   font-size: 20px;
}
.project_card h6{
   color: #013d97;
   font-style: 10px;
   font-weight:bolder;
}
.about_project p{
   font-size: 14px;
    max-width: 90%; 
    color: white;
}
.about_project li{
   color: white;
}
.tech_stack{
   display: flex;
   /* justify-content: space-betwee; */
   gap: 30px;
}
.about_project{
   display: flex;
    flex-direction: column;
    align-items: center; 
    /* text-align: center; */
}

   /* Mobile portrait styles */

   @media (min-width:300px) and (max-width:319px) {
      .home{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .left_home{
        /* margin-top: 50px; */
        align-items: center;
        justify-content: center;
     }
     .left_home h1{
         font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 12px;    
     }
     .line_brake1{
        display: inline;
     }
      .typewriter{
        font-size: 17px;
     }
     .image{
        width: 190px;
    height: 250px;
    /* margin-right: 15px; */
    padding-bottom: 10px;
     }
        .icons{
        font-size: 10px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -10px;
}
/* about section  */
      .image_about{
        width: 230px;
    height: 300px;
    display: none;
     }
     .about_me_paragraph p{
   font-size: 11px;   
}
.about_note h1{
   font-size: 47px;
}
.about_note{
   width: 100%;
}
    
   }
   @media (min-width:320px) and (max-width:493px) {
        .home{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .left_home{
        /* margin-top: 50px; */
        align-items: center;
        justify-content: center;
     }
     .left_home h1{
         font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 12px;    
     }
     .line_brake1{
        display: inline;
     }
      .typewriter{
        font-size: 17px;
     }
     .image{
        width: 200px;
    height: 260px;
    /* margin-right: 15px; */
    padding-bottom: 10px;
     }
        .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
 /* about section  */
      .image_about{
        width: 230px;
    height: 300px;
    display: none;
     }
     .about_me_paragraph p{
   font-size: 13px;   
}
.about_note h1{
   font-size: 47px;
}
.about_note{
   width: 100%;
}

   }
 @media (min-width: 494px) and (max-width: 596px) {
     .left_home h1{
        font-size: 35px;
        line-height: 25px;
     }
     .self_intro{
        font-size: 9px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 13px;
     }
     .image{
        width: 200px;
    height: 280px;
    margin-right: 15px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
/* aboutpart */
     .image_about{
        width: 200px;
    height: 230px;
     }
     .about_me_paragraph p{
   font-size: 10px;   
}
.about_note h1{
   font-size: 42px;
}

}
 @media (min-width: 597px) and (max-width: 676px) {
         .left_home h1{
        font-size: 50px;
        line-height: 40px;
     }
     .self_intro{
        font-size: 11px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 14px;
     }
     .image{
        width: 220px;
    height: 300px;
    margin-right: 15px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
/* about part */
     .image_about{
        width: 230px;
    height: 300px;
     }
     .about_me_paragraph p{
   font-size: 13px;   
}
.about_note h1{
   font-size: 47px;
}
}
     /* Tablet portrait / large phone styles */
@media (min-width: 676px) and (max-width: 768px) {
        .left_home h1{
        font-size: 60px;
        line-height: 50px;
     }
     .self_intro{
        font-size: 13px;
     }
      .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 18px;
     }
     .image{
        width: 240px;
    height: 320px;
     }
     .icons{
        font-size: 12px;
     }
     .icons:nth-child(4){
    top: 10px;
    right: -20px;
}
     .image_about{
        width: 230px;
    height: 300px;
     }
     .about_me_paragraph p{
   font-size: 13px;   
}
.about_note h1{
   font-size: 47px;
}
}
@media (min-width:769px) and (max-width:835px) {
   /* home part */
    .left_home h1{
        font-size: 70px;
        line-height: 60px;
     }
     .self_intro{
        font-size: 12px;
     }
     .line_brake1{
        display: inline;
     }
     .typewriter{
        font-size: 20px;
     }
     /* about part */
     .image_about{
        width: 230px;
    height: 300px;
     }
     .about_me_paragraph p{
   font-size: 13px;   
}
.about_note h1{
   font-size: 47px;
}
    
}
  /* Tablet landscape / small laptop styles */
@media (min-width: 835px) and (max-width: 1024px) {
     .left_home h1{
        font-size: 80px;
        line-height: 70px;
     }
     .self_intro{
        font-size: 11px;
     }
     .typewriter{
        font-size: 25px;
     }

}
  /* project section responsivenes */
@media (min-width: 1025px) and (max-width: 1440px) {
 .self_intro{
    font-size: 13px;
}
}
@media (min-width: 300px) and (max-width: 493px) {

    .project_grid {
        grid-template-columns: 1fr; 
        gap: 30px;
        padding: 0 10px;
    }
    .project_img img {
        width: 100%; /* Responsive image width */
        max-width: 280px;
    }
    .about_project p {
        width: 90%; /* Prevent text overflow */
        font-size: 13px;
        text-align: center;
    }
    .project_card {
        padding: 20px 10px;
    }
}
@media (min-width: 674px) and (max-width: 722px) {
    .project_img img{
      width: 290px;
    }

 
}
@media (min-width: 835px) and (max-width: 1024px) {
    .project_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}